{% extends "base.html" %}


{% block title %}

Home - Student Analytics

{% endblock %}



{% block content %}


<div class="p-5 mb-4 bg-light rounded-3">

    <div class="container-fluid py-5">

        <h1 class="display-5 fw-bold">
            Student Analytics System
        </h1>

        <p class="col-md-8 fs-4">

            Manage student information using Flask,
            SQLAlchemy and SQLite.

            Analyze the data using Pandas,
            Matplotlib and Streamlit.

        </p>


        <a
            href="{{ url_for('students') }}"
            class="btn btn-primary btn-lg"
        >
            View Students
        </a>


        <a
            href="{{ url_for('add_student') }}"
            class="btn btn-success btn-lg"
        >
            Add Student
        </a>

    </div>

</div>


<div class="row">


    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h5 class="card-title">
                    Flask
                </h5>

                <p class="card-text">
                    Backend web framework.
                </p>

            </div>

        </div>

    </div>



    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h5 class="card-title">
                    REST API
                </h5>

                <p class="card-text">
                    Provides student data as JSON.
                </p>

            </div>

        </div>

    </div>



    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h5 class="card-title">
                    Streamlit
                </h5>

                <p class="card-text">
                    Provides data analytics dashboard.
                </p>

            </div>

        </div>

    </div>


</div>


{% endblock %}